{% autoescape false %}{
    "title": "{{ title | json_escape }}",
    "description": "{% if subject_type == 'Subject1' %}Do: {{ buyer_name | discord_escape | json_escape }} - NIP {{ buyer_nip | discord_escape | json_escape }}{% elif subject_type == 'Subject2' %}Od: {{ seller_name | discord_escape | json_escape }} - NIP {{ seller_nip | discord_escape | json_escape }}{% else %}Od: {{ seller_name | discord_escape | json_escape }} - NIP {{ seller_nip | discord_escape | json_escape }}\nDo: {{ buyer_name | discord_escape | json_escape }} - NIP {{ buyer_nip | discord_escape | json_escape }}{% endif %}\nNr Faktury: {{ invoice_number | discord_escape | json_escape }}\nData: {{ issue_date | date | discord_escape | json_escape }}\nBrutto: **{{ gross_amount | money_raw | json_escape }} {{ currency | discord_escape | json_escape }}**\nNumer KSeF: {{ ksef_number | discord_escape | json_escape }}",
    "color": {{ priority_color_int | json_number }},
    "timestamp": "{{ timestamp | json_escape }}",
    "footer": {
        "text": "KSeF Monitor"
    }
    {% if url %}
    ,"url": "{{ url | json_escape }}"
    {% endif %}
}
{% endautoescape %}
