{% autoescape false %}{
    "blocks": [
        {
            "type": "header",
            "text": {
                "type": "plain_text",
                "text": "{{ priority_emoji | json_escape }} {{ title | json_escape }}"
            }
        },
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": "{% if subject_type == 'Subject1' %}Do: {{ buyer_name | slack_escape | json_escape }} - NIP {{ buyer_nip | slack_escape | json_escape }}{% elif subject_type == 'Subject2' %}Od: {{ seller_name | slack_escape | json_escape }} - NIP {{ seller_nip | slack_escape | json_escape }}{% else %}Od: {{ seller_name | slack_escape | json_escape }} - NIP {{ seller_nip | slack_escape | json_escape }}\nDo: {{ buyer_name | slack_escape | json_escape }} - NIP {{ buyer_nip | slack_escape | json_escape }}{% endif %}\nNr Faktury: {{ invoice_number | slack_escape | json_escape }}\nData: {{ issue_date | date | slack_escape | json_escape }}\nBrutto: *{{ gross_amount | money_raw | json_escape }} {{ currency | slack_escape | json_escape }}*\nNumer KSeF: {{ ksef_number | slack_escape | json_escape }}"
            }
        }
        {% if url %}
        ,{
            "type": "actions",
            "elements": [
                {
                    "type": "button",
                    "text": {
                        "type": "plain_text",
                        "text": "View in KSeF"
                    },
                    "url": "{{ url | json_escape }}"
                }
            ]
        }
        {% endif %}
    ],
    "attachments": [
        {
            "color": "{{ priority_color | json_escape }}",
            "fallback": "{{ title | json_escape }}"
        }
    ]
}
{% endautoescape %}
